// vars
@use "../helpers/mixins" as m;
$mainColor: #c74242;
$secondaryColor: rgba(0, 0, 0, 0.418);
$darkColor: #4a4e4d;
$white: #fff;
$radius: 8px;
$fontSize: 20px;
$mainSize: 10px;

// styles
.popup-grandfather {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  transition: all 0.3s;

  align-items: center;
  background-color: $secondaryColor;

  .popup {
    background-color: $darkColor;
    color: $white;
    width: 55vw;
    transition: all 0.3s;
    padding: $mainSize;
    border-radius: $radius;
    overflow-y: scroll;
    max-height: 90vh;

    transform: scale(0);
    font-family: sans-serif;
    .popup-header-parent {
      position: relative;
      padding: 0 $mainSize - 5;
      .popup-title {
        font-size: $fontSize + 3;
      }
      .popup-price {
        margin: 1rem 0;
        font-size: $fontSize - 4;
        padding: 0 $mainSize;
        display: inline-block;
        font-weight: 400;
        margin-right: 1rem;
      }
      .popup-amount {
        display: inline-block;
      }
      .popup-remove {
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        cursor: pointer;
      }
      margin: 2rem 1rem;
      border-bottom: 1px solid rgba($color: $mainColor, $alpha: 0.6) !important;
    }

    .popup-body-parent {
      margin: $mainSize 0;
      .popup-body-text {
        font-size: $fontSize - 5;
        padding: 0 $mainSize;
        span {
          font-weight: bolder;
          font-size: 1.4rem;
        }
      }
    }

    .popup-footer-parent {
      margin-top: $mainSize * 4;
      margin-bottom: $mainSize;
      @include m.grid_flex;
      width: 17rem;
      margin-left: auto;
      .close-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
      }

      .close-btn a {
        text-decoration: none;
        border: 2px solid #010100;
        padding: 10px 25px;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        display: inline-block;
      }

      span {
        position: relative;
        /* z-index coz when we put bg to before and after this span text will not be visible */
        z-index: 3;
      }

      /* Button 1 styles */

      .close-btn a::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -2px;
        width: calc(100% + 6px);
        /*100% plus double the times left values*/
        height: calc(100% - 10px);
        background-color: $mainColor;
        transition: all 0.5s ease-in-out;
        transform: scaleY(1);
      }

      .close-btn a:hover::before,
      .btn-2 a:hover::before {
        transform: scaleY(0);
      }

      .close-btn a::after {
        content: "";
        position: absolute;
        left: 5px;
        top: -5px;
        width: calc(100% - 10px);
        /*100% plus double the times left values*/
        height: calc(100% + 10px);
        background-color: $mainColor;
        transition: all 0.5s ease-in-out;
        transform: scaleX(1);
      }

      .close-btn a:hover::after {
        transform: scaleX(0);
      }
    }
  }
}
// open-btn

.open-btn {
  padding: 10px 25px;
  background-color: $mainColor;
  border: none;
  border-radius: $radius;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  background-color: transparent;
  border: 1px solid $mainColor;
}
